.table {
    background-color: transparent;
    thead th {
        border-bottom-color: transparent;
        &:nth-child(1n+2) {
            text-align: center !important;
        }
    }
    td {
        text-align: center;
    }
    td, th {
        border-top-color: transparent;
    }
    &.table-striped tbody tr:nth-of-type(2n+1) {
        background-color: $dark;
    }
}
