.table-secondary {
    background-color: $secondary !important;
    color: $white !important;
    thead tr th {
        border-top-color: $brown;
        border-bottom-color: $brown;
        &:nth-child(1n+2) {
            text-align: center !important;
        }
    }
    tbody tr {
        th {
            border-top-color: $brown;
            border-bottom-color: $brown;
        }
        td {
            text-align: center !important;
            color: $muted;
            border-top-color: $brown;
            border-bottom-color: $brown;
        }
    }
}