// ./lib/dart-sass/sass scss/barbershop.scss dist/css/barbershop.css --watch
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import "../lib/bootstrap-4.0.0/scss/bootstrap.scss";

:root {
  --main-color: #a98970;
  --color-dark: #000;
  --color-black: #222;
  --color-gray: #666;
}

$brown: #a98970;
$gray: #666;

* {
  font-family: "Poppins", sans-serif;
}

a {
  color: $white !important;
  &:hover,
  &.active {
    color: var(--main-color) !important;
  }
}

.btn-brown {
  color: $white;
  background-color: $brown;
  border-color: $brown;
  &:hover {
    background: darken($brown, 10);
    color: $white !important;
  }
}

.btn-outline-brown {
  color: $brown;
  background-color: transparent;
  background-image: none;
  border-color: $brown;
  &:hover {
    background-color: $brown;
    color: $white !important;
  }
}

.link-brown {
    color: $brown !important;
    &:hover {
        color: darken($color: $brown, $amount: 10) !important;
        text-decoration: none !important;
    }
}
.text-gray {
    color: $gray !important;
}

.text-brown {
    color: $brown !important;
}

.bg-black {
    background-color: var(--color-black) !important;
}

.bg-c-dark {
    background-color: var(--color-dark) !important;
}

.border-brown {
    border-color: $brown !important;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--color-dark);
  z-index: 100;
  .container nav {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: var(--color-dark) !important;

    .navbar-brand {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    div ul li {
      line-height: 3.5rem;
      &.active .nav-link,
      &.show .nav-link {
        color: var(--main-color) !important;
      }
      .dropdown-menu {
        background-color: var(--color-dark);
        line-height: initial;
        .dropdown-item:hover {
          background-color: initial !important;
        }
        .dropdown-divider {
          border-top-color: var(--main-color);
        }
      }
    }
  }
}

.slider div div .carousel-item {
  .carousel-caption {
    top: 40%;
    bottom: initial;
    background-color: rgba(34, 34, 34, 0.6);
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px 12px var(--color-dark) !important;
  }
}

.section-heading {
    text-align: center;
    margin-bottom: 2.5rem;
    h3 {
        font-size: 17px !important;
        font-family: 'Prata', serif;
        color: var(--main-color);
    }
    h2 {
        color: $white;
        font-family: 'Prata', serif;
    }
    .section-heading-line {
        margin-top: 20px;
        height: 10px;
        background: center center no-repeat url("../../img/barbershop/heading-line.png");
        position: relative;
    }
}

.footer {
    border-top: 1px solid $brown;
}